# Pandas and NumPy Basics
This notebook introduces the basic concepts of Pandas and NumPy for data manipulation and analysis.

## 1. Introduction
- **NumPy**: A library for numerical computing in Python, providing support for arrays and mathematical functions.
- **Pandas**: A library for data manipulation and analysis, built on top of NumPy.

### Installation Guide
Install Pandas and NumPy using pip:
```bash
pip install pandas numpy
```

In [ ]:
import numpy as np
import pandas as pd

## 2. NumPy Basics

In [ ]:

# Creating Arrays
arr1 = np.array([1, 2, 3, 4, 5])  # 1D array
arr2 = np.array([[1, 2, 3], [4, 5, 6]])  # 2D array

print("1D Array:", arr1)
print("2D Array:", arr2)

In [ ]:

# Array Operations
print("Sum:", np.sum(arr1))
print("Mean:", np.mean(arr1))
print("Reshape:", arr2.reshape(3, 2))
print("Element-wise Multiplication:", arr1 * 2)

In [ ]:

# Indexing and Slicing
print("First Element:", arr1[0])
print("Slice:", arr1[1:4])
print("Last Row of 2D Array:", arr2[-1, :])

## 3. Pandas Basics

In [ ]:

# Creating DataFrames
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'Salary': [50000, 60000, 70000, 80000]
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)

In [ ]:

# Reading and Writing Data
df.to_csv("sample_data.csv", index=False)
print("DataFrame saved to sample_data.csv")

# To read it back:
df_loaded = pd.read_csv("sample_data.csv")
print("Loaded DataFrame:")
print(df_loaded)

In [ ]:

# Selecting Data
print("Selecting Column:", df['Name'])
print("Selecting Row:", df.iloc[1])
print("Filtering:")
print(df[df['Age'] > 30])

In [ ]:

# Modifying Data
df['Bonus'] = df['Salary'] * 0.1  # Add new column
df.loc[df['Name'] == 'Alice', 'Salary'] = 55000  # Modify values
print("Modified DataFrame:")
print(df)

In [ ]:

# Grouping and Aggregation
print("Average Salary by Age:")
print(df.groupby('Age')['Salary'].mean())

In [ ]:

# Sorting Data
print("Sorted DataFrame:")
print(df.sort_values(by='Salary', ascending=False))

In [ ]:

# Handling Missing Data
df.loc[2, 'Age'] = np.nan  # Introduce NaN value
print("DataFrame with Missing Value:")
print(df)
print("Handling Missing Data:")
df.fillna(df['Age'].mean(), inplace=True)  # Fill missing values with mean
print(df)

## Conclusion
This notebook introduced the basics of NumPy and Pandas, including array manipulations, data handling, and operations.
Happy Learning! ðŸŽ‰