# Python Basics Tutorial
This notebook will guide you through the fundamental concepts of Python programming.

In [1]:
print("Hello, World!")

Hello, World!

## Variables and Data Types

In [2]:
x = 10  # Integer
y = 3.14  # Float
name = "Alice"  # String
is_python_fun = True  # Boolean
print(x, y, name, is_python_fun)

10 3.14 Alice True

In [8]:
print('{x}')
print(f'{x}')

{x}
10

In [9]:
print(f'2*2= {4} akjsdhkajhsd {x} {y} {is_python_fun}')

2*2= 4 akjsdhkajhsd 10 3.14 True

## Basic Arithmetic Operations

In [13]:
sum_value = 5 + 3
product = 5 * 3
division = 10 / 2
power = 2 ** 3
modulus = 10 % 3
print("Sum:", sum_value, "Product:", product, "Division:", division, "Power:", power, "Modulus:", modulus)
print(f'Sum:, {sum_value}')

Sum: 8 Product: 15 Division: 5.0 Power: 8 Modulus: 1
Sum:, 8

## Lists and Tuples

In [ ]:
student1= "mohse"
student2="mehdi"

In [14]:
my_list = [1, 2, 3, 4, 5]
studnets = ["mohsen","mehdi"]
my_tuple = (10, 20, 30, 40, 50)
print("List:", my_list)
print("Tuple:", my_tuple)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)

In [16]:
print(f' There are {len(studnets)} students')

 There are 2 students

## Conditional Statements

In [31]:
num = 5

result = (num > 5)
print(f'{num == 5}')
print(f'{result}')

if num > 5:
    print("Number is greater than 5")
    print(num)
    num = 200 * num
    print(num)
elif num == 5:
    print("Number is 5")
else:
    print("Number is less than 5")

print(num)

True
False
Number is 5
5

## Loops

In [32]:
# For Loop
for i in range(5):
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

In [33]:
for i in range(3,5):
    print("Iteration:", i)

Iteration: 3
Iteration: 4

In [5]:
# For Loop
for i in range(15):
    print("Iteration:", i)
    if i == 10:
        break

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6
Iteration: 7
Iteration: 8
Iteration: 9
Iteration: 10

In [6]:
# For Loop
for i in range(15):
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6
Iteration: 7
Iteration: 8
Iteration: 9
Iteration: 10
Iteration: 11
Iteration: 12
Iteration: 13
Iteration: 14

In [7]:
# For Loop
for i in range(15):
    if i == 10:
        print("Iteration:", i)
        break

Iteration: 10

In [18]:
# For Loop
for i in range(15):
    if i > 3 and i<10:
        print("salam")
        continue # return to FOR and continue 
    elif i == 13:
        break
        
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
salam
salam
salam
salam
salam
salam
Iteration: 10
Iteration: 11
Iteration: 12

In [4]:
# While Loop
count = 0
while count <= 3:
    print("Count:", count)
    count += 1 # count = count + 1

Count: 0
Count: 1
Count: 2
Count: 3

In [22]:
count = 0
while True:
    if count ==10:
        print("Finish")
        break
    print("Count:", count)
    count+=1

Count: 0
Count: 1
Count: 2
Count: 3
Count: 4
Count: 5
Count: 6
Count: 7
Count: 8
Count: 9
Finish

In [23]:
while False:
    print("Hello")

## Functions

In [ ]:
def greet(name):
    return "Hello, " + name
print(greet("Alice"))

In [26]:
def functionTypeOne1(name,age):
    return name,age

functionTypeOne1(name="ali",age=30)

('ali', 30)

In [27]:
def functionTypeOne2(name,age):
    return name

functionTypeOne2(name="ali",age=30)

'ali'

In [28]:
def functionTypeOne3(name,age):
    return age

functionTypeOne3(name="ali",age=30)

30

In [29]:
def functionTypeOne4(name,age):
    return age*100

functionTypeOne4(name="ali",age=30)

3000

In [30]:
def functionTypeTwo1(name,age):
    age = age *100

functionTypeTwo1(name="ali",age=30)

In [31]:
def functionTypeThree():
    age = age *100

functionTypeThree(name="ali",age=30)

TypeError: functionTypeThree() got an unexpected keyword argument 'name'

In [32]:
functionTypeThree()

UnboundLocalError: cannot access local variable 'age' where it is not associated with a value

In [37]:
def functionTypeThreeFixed():
    age = 10
    age = age *100

age = 1000000000000000000000000000000000
functionTypeThreeFixed()

In [41]:
def functionTypeFour():
    age = 10
    
    age = age *100
    
    
    age2 = 200
    age3 = 4
    
    age = 19
    
    return age
    
functionTypeFour()

19

In [47]:
age = [10,20,30,40,50,'ali']
for x in age:
    print(x*10)

100
200
300
400
500
alialialialialialialialialiali

In [44]:
def functionTypeFour():
    age = [10,20,30,40,50]
    age2 = [ x*10 for x in age ]
    return age2 
    
functionTypeFour()

[100, 200, 300, 400, 500]

## Dictionaries

In [53]:
person1 = {"name": "ali", "age": 25, "city": "New York"}
person2 = {"name": "hassan", "age": 30, "city": "jahrom"}
person3 = {"name": "kambiz", "age": 14, "city": "tehran"}

students = [person1,person2,person3]

for i in students:
    print(i)
    print("Name:", i["name"], "Age:", i["age"], "City:", i["city"])
    print()

{'name': 'ali', 'age': 25, 'city': 'New York'}
Name: ali Age: 25 City: New York

{'name': 'hassan', 'age': 30, 'city': 'jahrom'}
Name: hassan Age: 30 City: jahrom

{'name': 'kambiz', 'age': 14, 'city': 'tehran'}
Name: kambiz Age: 14 City: tehran

In [48]:
person = {"name": "Alice", "age": 25, "city": "New York"}
# {key:value, }
print("Name:", person["name"], "Age:", person["age"], "City:", person["city"])

Name: Alice Age: 25 City: New York

## Exception Handling

In [54]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Error: Division by zero is not allowed")

Error: Division by zero is not allowed

## File Handling

In [57]:
with open("sample.txt", "w") as f:
    f.write("Hello, this is a sample file!")

with open("sample.txt", "r") as file:
    content = file.read()
    print("File Content:", content)

File Content: Hello, this is a sample file!

## Congratulations! You've covered the basics of Python!